{% extends "base.html" %}
{% block content %}

<div id="item_panel">
  <ol>
{% for play_time, queue_item, db_item in play_queue: %}
    <li class="{{queue_item.status}}">
      <div class="item_time">{{play_time.strftime("%H:%M:%S")}}</div>
{% if queue_item.length: %}
      <div class="item_duration">{{queue_item.length}}</div>
{% endif %}
      <div class="item_info">{{db_item.name}}
        <div class="item_artist">
{% if queue_item.type=="song": %}
{% if db_item.album: %}Album: {{db_item.album}}, {% endif %}
{% if db_item.artists: %}Artist: {% for artist in db_item.artists %}{{artist.name}}, {% endfor %}{% endif %}
Category: {{db_item.category.name}}
{% else: %}
{{queue_item.type}} event
{% endif %}
        </div>
      </div>
    </li>
{% endfor %}
  </ol>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>

var pq = $("#item_panel ol");

function update_pq() {
	$.get("/update", {}, function(r) {
		pq.empty();
		for (i=0; i<r.play_queue.length; i++) {
			var item = r.play_queue[i];
			var li = $("<li>").addClass(item.status);
			$("<div>").addClass("item_time").text(item.time).appendTo(li);
			if (item.length) {
				$("<div>").addClass("item_duration").text(item.length).appendTo(li);
			}
			var info = $("<div>").addClass("item_info").text(item.name).appendTo(li);
			$("<div>").addClass("item_artist").text(item.artist).appendTo(info);
			li.appendTo(pq);
		}
	}).complete(function() {
		window.setTimeout(update_pq, 50);
	});
}

update_pq();

</script>

{% endblock %}
