{% extends "base.html" %}
{% block content %}
<nav id="sidebar">
  <ul>
{% if current_category==None: %}
    <li><strong>All songs</strong></li>
{% else %}
    <li><a href="{{url_for("playlist")}}">All songs</a></li>
{% endif %}
{% for category in all_categories: %}
{% if category==current_category %}
    <li><strong>{{category.name}}</strong></li>
{% else %}
    <li><a href="{{url_for("playlist", category_id=category.id)}}">{{category.name}}</a></li>
{% endif %}
{% endfor %}
    <li><form action="{{url_for("new_category")}}" method="post"><input id="new_category_name" type="text" name="name" placeholder="+ New category"></form></li>
  </ul>
</nav>

{% block subcontent %}{% endblock %}
{% endblock %}
