{% extends "base.html" %}
{% block content %}
<nav id="sidebar">
  <ul>
{% if page=="schedule": %}
    <li><strong>Schedule</strong></li>
{% else %}
    <li><a href="{{url_for("schedule")}}">Schedule</a></li>
{% endif %}
{% if page=="events": %}
    <li><strong>Events</strong></li>
{% else %}
    <li><a href="{{url_for("event_list")}}">Events</a></li>
{% endif %}
{% if page=="limits": %}
    <li><strong>Repetition limits</strong></li>
{% else %}
    <li><a href="{{url_for("limits")}}">Repetition limits</a></li>
{% endif %}
{% for sequence in all_sequences: %}
{% if sequence==current_sequence %}
    <li><strong>{{sequence.name}}</strong></li>
{% else %}
    <li><a href="{{url_for("sequence", sequence_id=sequence.id)}}">{{sequence.name}}</a></li>
{% endif %}
{% endfor %}
    <li><form action="{{url_for("new_sequence")}}" method="post"><input id="new_sequence_name" type="text" name="name" placeholder="+ New sequence"></form></li>
  </ul>
</nav>

{% block subcontent %}{% endblock %}
{% endblock %}
