{% extends "base.html" %}
{% block content %}
<nav id="sidebar">
  <ul>
    <li>
      <form action="{{url_for("log")}}" method="get">
        <input type="text" name="date" placeholder="dd/mm/yyyy" value="{{current_date.strftime("%d/%m/%Y")}}">
        <button type="submit">View date</button>
      </form>
    </li>
    <li>
      <form action="{{url_for("log")}}" method="get">
        <input type="hidden" name="date" value="{{current_date.strftime("%d/%m/%Y")}}">
        <input type="hidden" name="format" value="csv">
        <button type="submit">Export as CSV</button>
      </form>
    </li>
  </ul>
</nav>
<div id="item_panel">
  <h2>{{current_date.strftime("%d %B %Y")}}</h2>
{% if log: %}
  <ol>
{% for play in log: %}
    <li>
      <div class="item_time">{{play.time.strftime("%H:%M:%S")}}</div>
      <div class="item_duration">{{play.song.length}}</div>
      <div class="item_info">{{play.song.name}}
        <div class="item_artist">
{% if play.song.album: %}Album: {{play.song.album}}, {% endif %}
{% if play.song.artists: %}Artist: {% for artist in play.song.artists %}{{artist.name}}, {% endfor %}{% endif %}
Category: {{play.song.category.name}}
        </div>
      </div>
    </li>
{% endfor %}
  </ol>
{% else: %}
  <p style="text-align: center;">No songs were played on this date.</p>
{% endif %}
</div>

{% endblock %}
