{% extends "base_playlist.html" %}
{% block subcontent %}
<div id="item_panel">
  <h2>{{song.name}}</h2>
  <form action="{{url_for("edit_song", song_id=song.id)}}" method="post">
    <p>Title: <input type="text" name="title" value="{{song.name}}"></p>
    <p>Artist: <input type="text" name="artist" value="{{artist_names}}"></p>
    <p>Category: <select name="category_id">
{% for category in all_categories: %}
      <option value="{{category.id}}"{% if song.category==category %} selected="selected"{% endif %}>{{category.name}}</option>
{% endfor %}
    </select></p>
    <p>Start: <input type="text" name="start" value="{{song.start}}"></p>
    <p>End: <input type="text" name="end" value="{{song.end}}"></p>
    <p>Minimum end: <input type="text" name="min_end" value="{{song.min_end}}"></p>
    <p>Maximum end: <input type="text" name="max_end" value="{{song.max_end}}"></p>
    <p><button type="submit">Edit</button></p>
  </form>
</div>
{% endblock %}
